.App {
  text-align: center;
  height: 300vh;
}


.App-header {
  background-color: #282c34;
  /* min-height: 300vh; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}