/* @import url('../../assets/VT323/VT323-Regular.ttf?family=VT323'); */
@font-face {
  font-family: VT323;
  src: url('../../assets/VT323/VT323-Regular.ttf');
}

@keyframes animateMessage{
  from{
    bottom: -1000px;
  }
  to{
    bottom:0;
  }
}

@keyframes animateContent{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
